.tableListBox {
  width: 100%;
  height: 550px;
  overflow:auto;
  border: 1px groove rgba(204, 204, 204,.3);
  background: rgba(204, 204, 204, 0.1);
}

.activeItem {
  background: rgba(79, 170, 209, 0.5);
  color: rgba(149,10,243,1);
}

.tableItem {
  text-align: center;
  padding:7px 0;
  &:hover {
    background: rgba(79, 170, 209, 0.1);
    color: rgba(45,100,154,1);
    transition: background .5s;
  }
}
